@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Open+Sans:wght@300..800&display=swap');

* {box-sizing: border-box;}

body {
    margin: 0;
}

nav, header, main{
    width: 100vw;
    padding: 0 8.33vw;
}

section{padding: 0;}

/*header que aparece con el ícono*/
header{
    font-family: 'Open Sans', sans-serif;
    height: 30vh;
    text-align: center;
}

.mostrar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 12vh;
    left: 0;
    background-color: rgb(234, 229, 214);
    width: 100vw;
    padding: 2vw;
}

/*Inicio*/
h2{ font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 125%;
}

/*Somos...*/
p{
    font-size: 19px;
    text-align: center;
}

/*Hacé tu pedido*/
header a {
color: white;
background-color: rgb(156, 105, 59);
font-size: 20px;
animation-name: miMovimiento;
animation-duration: 3s;
animation-delay: s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

a{
    text-decoration: none;
    text-transform: capitalize;
  
}

@keyframes miMovimiento{
    from{font-weight: 100;
    font-size: 19px;
opacity: 20%;}
    to{font-weight: 800;
    font-size: 22px;
opacity: 100%;}
}

header a{
    text-decoration: none;
    border-radius: 9px;
}

nav {
    background-color: rgb(234, 229, 214);
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div{
    width: 24%;
    display: flex;
    justify-content: space-between;
}

/*teia bakery*/
nav h1{
    color: rgb(156, 105, 59);
    font-weight: 800;
    margin: 0;
    font-size: 30px;
}

/*"LINKS"*/
nav a{
    color: rgb(156, 105, 59);
    font-size: 20px;
}

nav h1, nav a{
    font-family: 'Jost', sans-serif;
    line-height: 125%;
    vertical-align: top}

    main section div{width: 45.83%;}
section div img{width: 100%;}


/*imágenes*/
img{
    scale: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    opacity: 100%;
    transition: opacity 1s;

}
main section:first-child {
    justify-content: space-between;
    display: flex;
}

img:hover{
opacity: 30%;
scale: 90%;
}


/*icono que aparece y desaparece*/
nav span {display: none;}

.icon-estrella{
    color: rgb(156, 105, 59);
    font-size: 25px;
    cursor: pointer;
}

.icon-estrella:hover{
    opacity: 20%;
}


@media(max-width:992px) {
    nav div {
        width: 40%;
    }
}

@media (max-width: 768px) {
    nav div {
        display: none;    }

    nav span {
        display: inline;
    }
}


/*video*/
section, video{
    width: 100%;
    padding: 0;
}
video{width: 45.85%;
    margin-left: 26%;
}


/*footer*/
footer{
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background-color:rgb(234, 229, 214);
}
